* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: #7F1734;
    --sidebar-width: 240px;
    --header-height: 70px;
    --gray-light: #e5e5e5;
    --gray-medium: #999;
    --text-dark: #333;
}

.userName {
        justify-content: space-between;
        align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 20px;
    border-bottom: 1px solid var(--gray-light);
    background-color: white;
    border-width: 1.5px;
    border-color: #7F1734;

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-image {
    height: 40px; /* Ajuste a altura conforme necessário */
    width: auto;
    margin-right: 15px;

}
.logo {
    color: #7F1734;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.search-container {
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
}

.search-input {  
    width: 100%;  
    padding: 10px 15px;  
    border-radius: 25px;  
    border: 1px solid #7F1734;  
    font-size: 1rem;  
    color: var(--text-dark); /* Cor do texto */  
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="M21 21l-4.35-4.35"/></svg>');  
    background-repeat: no-repeat;  
    background-position: 10px center;  
    padding-left: 40px;  
}  

/* Adicionando um estilo para o placeholder */  
.search-input::placeholder {  
    color: var(--gray-medium); /* Cor do texto do placeholder */  
    opacity: 0.7; /* Opacidade do placeholder */  
}
/* Foco */  
.search-input:focus {  
    border-color: #7F1734; /* Mantém a cor da borda ao sofrer foco */  
    outline: none; /* Remove a borda padrão de foco */  
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
}

.user-icon h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

.userName {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.userName h3 {
    margin: 0;
    font-size: 14px;
    color: var(--text-dark);
}

.userName h5 {
    margin: 2px 0 0;
    font-size: 12px;
    font-weight: normal;
    color: var(--gray-medium);
}

@media (max-width: 768px) {
    .userName {
        display: none;
    }
}
.main-container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: #7F1734;
    padding: 20px 0;
}

.sidebar-menu {
    list-style-type: none;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 5px;
    color: #f9f9f9;
    text-decoration: none;
    font-size: 0.9rem;
}

.menu-item1 {
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 5px;
    color: #7F1734;
    text-decoration: none;
    font-size: 0.9rem;
}

.menu-text1 {
    font-weight: bold;
    margin-left: 5px;
    color: #7F1734;
}

.menu-text{
    font-weight: bold;
}
.risk-button {
    background-color: #7F1734;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.risk-button:hover {
    background-color: #5A0F27;
}

.menu-item:hover {
    background-color: rgba(139, 0, 0, 0.05);
}

.menu-item svg {
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

.menu-header {
    font-weight: bold;
    padding: 12px 20px;
    margin-bottom: 5px;
    color: #f9f9f9;
    font-size: 1rem;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.content-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--text-dark);
    text-align: center;
}

.municipality-section {
    margin-bottom: 40px;
}

.municipality-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.municipality-title {
    font-size: 1.2rem;
    color: var(--text-dark);
}

.nav-arrows {
    display: flex;
    gap: 10px;
    color: #7F1734;
}

.nav-arrow {
    width: 28px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7F1734;
    font-weight: 800;
    cursor: pointer;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.risk-location-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.risk-image {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Mantém a proporção do card */
    background-color: var(--gray-light); /* Cor de fundo padrão */
    background-size: cover; /* Ajusta a imagem para ocupar todo o espaço */
    background-position: center; /* Centraliza a imagem */
    position: relative; /* Mantém o comportamento no layout */
    border-radius: 10px; /* Opcional, para corresponder ao design */
    overflow: hidden; /* Oculta qualquer excesso de imagem */
}


.risk-info { 
    padding: 15px; 
    display: flex;  
    justify-content: space-between; /* Este alinhamento distribui o espaço entre o título e o "Testar" */  
    align-items: center; /* Alinha verticalmente */  
}  

.risk-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.risk-level {
    font-size: 0.8rem;
    color: white;
    background-color: #7F1734;
    padding: 4px 14px;
    border-radius: 5px;
    display: inline-block;
}
#notification-message {
    position: relative; /* Para empurrar o conteúdo abaixo */
    background-color: #7F1734; /* Fundo para destacar a mensagem */
    color: #f9f9f9;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px 0; /* Espaçamento interno */
    display: none; /* Inicialmente escondido */
    transition: all 1.3s ease; /* Suaviza a entrada e saída */
    height: auto; /* Ajusta altura dinamicamente */
}


@media (max-width: 1024px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 638px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sidebar {
        width: 85px;
    }
    
    .menu-text {
        display: none;
    }
    
    .menu-item svg {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
    
    .search-container {
        display: none;
    }
}
